# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Backend
backend/node_modules/
backend/dist/
backend/lambda.zip
backend/*.log

# Temporary files
*.tmp

# Environment variables
.env

# Node modules
node_modules/

# Temporary files
generate-hash.js
/*.md
!/README.md
